@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root{
    --font-family: "Open Sans", sans-serif;
    --bg-color: #0D9276;
    --primary-color: #FFF6E9;
    --secundary-color: #40A2E3;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    min-height: 100vh;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

h1{
    font-size: 5rem;    
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 2rem;
    margin-top: 2em;
}

p{
    margin-top: 2em;
    color: var(--secundary-color);
    font-size: 1.5rem;
}
.mensagem{
    font-size: 1rem;
    margin-top: 3rem;    
}

.box{
    border: 2px solid var(--primary-color);
    color: var(--secundary-color);
    display: inline-block;
    font-size: 4rem;
    padding: 0.2em;
    margin: 0.5em;    
    
}

.btn-jogar{
    padding: 1em;
    border: 0;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 5px;
    margin-top: 3em;
}